<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= url_for :controller => 'pages', :action => 'login' %>">Login</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="page-scroll" href="#page-top">Home</a></li>
                    <li><a class="page-scroll" href="#features">Features</a></li>
                    <li><a class="page-scroll" href="#howitworks">How it works</a></li>
                    <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                    <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel" data-interval="9000">
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption">
                <h1>Debt can be a pain<br/>
                    <font color="#1ab394">SmartDebt</font> is always a gain,<br/>
                    </h1>
                <p>Smart, sofisticated analytics
                 to leverage your business debt.</p>
                <p>
                    <a class="btn btn-lg btn-primary page-scroll" href="#features" role="button">LEARN MORE</a>
                    <a class="caption-link" href="#" role="button">SMARTDEBT+</a>
                </p>
            </div>
            <div class="carousel-image wow zoomIn">
                <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back one"></div>

    </div>
    <div class="item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>all debt consolidation options <br/> are <font color="#1ab394">not</font> not created equally.<br/></h1>
                <p>debt optimization analytics</p>
                <p><a class="btn btn-lg btn-primary page-scroll"  href="#features" role="button">Learn more</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
    </div>
</div>
<a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>


<section id="features" class="container services">
<div class="row">
    <div class="col-sm-3">
        <h2>Cashflow tracker</h2>
        <p>Plug in all your business accounts and we will take care of the rest, you never have to worry about where your money is going.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>Debt optimizer</h2>
        <p>The only smart optimization tool you will ever need to get debt down to a controllable level or gone completely.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>Uncover Unseen trends</h2>
        <p>Get a complete financial health checkup of your buinsess.  These tools will help you optimize debt and cashflow.  Now you can spend more time on revenue!</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-sm-3">
        <h2>payoff debt faster</h2>
        <p>Smart tools to help you payoff your debt faster, or help you use debt to provide leverage for your business.</p>
        <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
    </div>
</div>
</section>

<section  class="container features">
<!-- <div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>The only tool that helps you stay on top of your businesses debt,<br/> <span class="navy">get back to running your business your <way!></way!></span> </h1>
        <p>The smartest business decision you'll ever make. </p>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
        <div>
            <i class="fa fa-mobile features-icon"></i>
            <h2>Full responsive</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-bar-chart features-icon"></i>
            <h2>6 Charts Library</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
    <div class="col-md-6 text-center  ">
        <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
        <div>
            <i class="fa fa-envelope features-icon"></i>
            <h2>Mail pages</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
        <div class="m-t-lg">
            <i class="fa fa-google features-icon"></i>
            <h2>AngularJS version</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-12 text-center"><br>
        <div class="navy-line"></div>
        <h1>Discover great feautres</h1>
        <p>Debt does not have to be burdensome. </p>
    </div>
</div>
<div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
        <large>SMARTDEBT+</large>
        <h2>Perfectly designed dashboard which displays the heart of your business </h2>
        <p>Think of the dashboard as the pulse of your business. Everything you will ever need to stay on top of your businesses debt and cashflow.  It includes, smart analytical tools and resources to manage your business efficiently.</p>
        <h3>Debt to income ratio, business score, cashflow and debt optimization alerts</h3>
        <a href="pages/register" class="btn btn-primary">SignUp</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
        <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
</div>
</section>

<!-- <section id="team" class="gray-section team">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Our Team</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 wow fadeInLeft">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar3.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Amelia</span> Smith</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="team-member wow zoomIn">
                <img src="<%= image_path('landing/avatar1.jpg') %>" class="img-responsive img-circle" alt="">
                <h4><span class="navy">John</span> Novak</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 wow fadeInRight">
            <div class="team-member">
                <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
                <h4><span class="navy">Peter</span> Johnson</h4>
                <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
    </div>
</div>
</section> -->

<section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Even more great feautres</h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p> -->
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-3 features-text wow fadeInLeft">
            <small>SMARTDEBT+</small>
            <h2>Use debt for leverage</h2>
            <p>Our debt optimization tool looks at your cahsflow and recommends how much extra you can pay toward paying down debt faster without having to worry about the overall health of the business.</p>
            <a href="pages/register" class="btn btn-primary">Sign Up</a>
        </div>
        <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
            <img src="<%= image_path('landing/iphone.jpg') %>" class="img-responsive" alt="dashboard">
        </div>
        <div class="col-lg-3 features-text text-right wow fadeInRight">
            <small>SMARTDEBT+</small>
            <h2>Consolidation Partners </h2>
            <p>If you have multiple debt payment to different companies and can't keep track, we can utilize our debt consolidation companies to get you one payment at the best rate and terms. Sign Up to learn more.</p>
            <a href="pages/register" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Smart tools that help you stay on top of your business debt,<br/> <span class="navy">get back to running your business your <way!></way!></span> </h1>
        <p>The smartest business decision you'll ever make. </p>
    </div>
</div>

</section>

<section id="howitworks" class="timeline gray-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>How it works</h1>
            <p>Your road to success. </p>
        </div>
    </div>
<!-- <div class="row">
  <span class="glyphicon glyphicon-arrow-down style="vertical-align:middle aria-hidden="true"></span>
</div> -->

    <div class="row features-block">

        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Sign Up</h2>
                        <p>Click the link below to register and provide all of the neccessary information.
                        </p>
                        <a href="pages/register" class="btn btn-xs btn-primary"> Sign Up</a>
                        <span class="vertical-date"> Now <br/> <!-- <small>Dec 24</small> --> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Link Bank Acounts</h2>
                        <p>Link all of the accounts tied to your business.  By linking all, you will be able to get the correct optimization advice</p>
                        <a href="pages/register" class="btn btn-xs btn-primary"> Sign Up</a>
                        <span class="vertical-date"> next <br/> <!-- <small>Dec 26</small> --> </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-cogs"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>Success</h2>
                        <p>Sit back and relax, we will take over from here and provide sofiticated solutions to manage your debt. </p>
                        <a href="pages/register" class="btn btn-xs btn-primary"> SignUp</a>
                        <span class="vertical-date"> Always <br/> <!-- <small>Jan 02</small> --> </span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center wow zoomIn">
            <i class="fa fa-comment big-icon"></i>
            <h1>
                What our users say
            </h1>
            <div class="testimonials-text">
                <i>"The best tool to stay on top of my debt, easy simple and a peace of mind."</i>
            </div>
            <small>
                <strong>12.02.2014 - Andy Smith</strong>
            </small>
        </div>
    </div>
</div>

</section>

<section class="comments gray-section" style="margin-top: 0">
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>What our partners say</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
        </div>
    </div> -->
    <div class="row features-block">
        <div class="col-lg-4">
            <div class="bubble">
                "Afer singning up for SmartDebt+, my business has taken a new road to success.  I have the peace of mind knowing that all of my debt is strategically taken care of"
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Angalina Jolie
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
                "The best tool to use when lookin into taking on debt for my business, smart comprhensive breakdown of how to use debt smartly."
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar1.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Hugh Jackman
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="bubble">
                "Most other services only provide tools to manage cashflow and revenue, Smartdebt+ provieds tool to manage both revenue and debt. Awesome!"
            </div>
            <div class="comments-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="<%= image_path('landing/avatar2.jpg') %>">
                </a>
                <div class="media-body">
                    <div class="commens-name">
                        Jim Carrey
                    </div>
                    <small class="text-muted">Company X from California</small>
                </div>
            </div>
        </div>



    </div>
</div>

</section>

<!-- <section class="features">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>More and more extra great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-bar-chart big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-bolt big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-clock-o big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
        <div class="col-lg-5 features-text">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <i class="fa fa-users big-icon pull-right"></i>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
        </div>
    </div>
</div>

</section> -->
<section id="pricing" class="pricing">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>App Pricing</h1>
            <p>The best investment you'll ever make.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Free
                </li>
                <li class="pricing-desc">
                    Get an overview of the health of your business, Current business score and cash flow tracker.
                </li>
                <li class="pricing-price">
                    <span>$0</span> / month
                </li>
                <li>
                    Dashboard
                </li>
                <li>
                    Business score
                </li>
                <li>
                    Cashflow tracker
                </li>
                <!-- <li>
                    Calendar
                </li>
                <li>
                    AngularJs
                </li> -->
                <li>
                    <a class="btn btn-primary btn-xs" href="pages/register">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled selected">
                <li class="pricing-title">
                    Standard
                </li>
                <li class="pricing-desc">
                    Dig a little deeper into the health of your business, both from revenue and debt perspective.
                </li>
                <li class="pricing-price">
                    <span>$49</span> / month
                </li>
                <li>
                    Dashboard
                </li>
                <li>
                    Business Scores
                </li>
                <li>
                    Cashflow and debt tracker
                </li>
                <li>
                    Smart Optimization tools
                </li>
                <li>
                    Startegic consolidation recommendations
                </li>
                <li>
                    <strong>24/7 Support</strong>
                </li>
                <li class="plan-action">
                    <a class="btn btn-primary btn-xs" href="pages/register">Signup</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 wow zoomIn">
            <ul class="pricing-plan list-unstyled">
                <li class="pricing-title">
                    Premium
                </li>
                <li class="pricing-desc">
                    The ultimate tool to get your business to the next level..
                </li>
                <li class="pricing-price">
                    <span>$499</span> / year
                </li>
                <li>
                    All inclusive business Dashboard
                </li>
                <li>
                    Business score and recommendations for improvements
                </li>
                <li>
                    Cashflow and debt tracker which automatically optimizes debt payback based on cash flow.
                </li>
                <li>
                    Smartly monitors your businesses financial flow and optimizes for success
                </li>
                <li>
                    Strategic consolidation recommendations
                </li>
                 <li>
                    <strong>24/7 Support</strong>
                </li>
                <li>
                    <a class="btn btn-primary btn-xs" href="pages/register">Signup</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
            <p>*Terms and conditions apply. Can cancel at anytime</p>
        </div>
    </div>
</div>

</section>

<section id="contact" class="gray-section contact">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Contact Us</h1>
            <p>We would love to hear your feedback.</p>
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
            <address>
                <strong><span class="navy">SmartDebt+</span></strong><br/>
                Miami, Florida<br/>
                <abbr title="Phone">P:</abbr> (555) 555-5555
            </address>
        </div>
        <div class="col-lg-4">
            <p class="text-color">
            Only for businesses in the USA.  Going global soon!
                <!-- Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea, -->
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
            <p class="m-t-sm">
                Or follow us on social platform
            </p>
            <ul class="list-inline social-icon">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; 2016 SmartDebt+</strong><br/> <!-- consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde. --></p>
        </div>
    </div>
</div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();


});

</script>

<% end %>
