<%= render 'layouts/messages' %>
<%= form_for(yodlee_account) do |f| %>
  <% if yodlee_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yodlee_account.errors.count, "error") %> prohibited this yodlee_account from being saved:</h2>

      <ul>
      <% yodlee_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <%= f.text_field :username, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>
