<p id="notice"><%= notice %></p>

<h1>Yodlee Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yodlee_accounts.each do |yodlee_account| %>
      <tr>
        <td><%= yodlee_account.username %></td>
        <td><%= yodlee_account.password %></td>
        <td><%= link_to 'Show', yodlee_account %></td>
        <td><%= link_to 'Edit', edit_yodlee_account_path(yodlee_account) %></td>
        <td><%= link_to 'Destroy', yodlee_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

